html, body {
	font-family: Arial;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	color: #2b104f;
	text-decoration: none;
}
a:hover {
	color: #2b104f;
	text-decoration: underline;
}

.clear {clear; both}

ul.mainmenu {
	list-style: none;
	background: #2b104f;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #FDA83D;
}

ul.pages {
	list-style: none;
	background: #62ffc6;
	height: 400px;
	margin: 0;
	padding: 0;
	color: #000000;
	font-size: 30px;
	title-size: 20px;
	overflow: hidden;
}

ul.pages li {
	float: left;
	margin: 100px 1000px 0 100px;
}
ul.pages li.last {float: right;}

ul.pages li a {
	color: #789012;
	text-decoration: none;
}
ul.pages li a:hover {
	color: #123456;
}

div.content {
	margin: 10px;
}

.form-contact label {
	display: inline-block;
	min-width: 80px;
}
.form-contact p {margin: 10px 0 10px 0;}
.form-contact input[type=submit], textarea {
	font-size: 16px;
}

.flash {padding: 10px;}
.flash success {
	border: 1px solid #21DB56;
	background: #5f427b;
}

.flash error {
	border: 1px solid #ff4343;
	background: #FF9C9C;
}

