{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>RapStep - Хип-хоп площадка для самовыражения. Публикуй своё творчество, Вызывай других MC на баттл. Обретай первую аудиторию.
	<p>
<p>Как начать?
<p>
<p>1. Разнообрась свою <input type="submit" value="страничку" />. Добавь информацию о себе, выложи свои работу, напиши пару постов о себе и о своих интересах
<p>2. Листая главную ленту, подписывайтесь на интересных авторов, оценивайте их работу, поддерживайте их деньгами.
<p>3. Самое важное - помнить, что вы здесь не одни и не нарушать правила площадки.
{% endblock %}