{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
{% block content %}
{{ super() }}
<p><a href="add"><input type="submit" name="add" value="Добавить"></a>
<p>RAPSTEP - сайт, на котором любой желающий может поделится мнением
на любую тему, но в особенности про ХиП-хАп.
<p>Распространить свою музыку. Сделать обзор на популярный и не очень популярный релиз.
<Все это здесь возможно
<p>Сайтом пользуется уже 1 человек. Это на 1 больше, чем Google+
<p>Присоединяйся и ты
{% endblock %}
